<h1>Users#index</h1>
<p>Find me in app/views/users/index.html.erb</p>

<td>
    <%= image_tag @user.user_image %>
    <h1><%= @user.fname %></h1>
  
</td>
<h3>
  <%= link_to @user.username, users_show_path(@user.id) %>
</h3>




